<div id="parentController">
    <div class="controlItem">
        <small style="float: right; font-weight: bold;">Parent Element</small>
        <h5>flex-direction</h5>
        <div style="display: flex; flex-wrap: wrap;">
            <div stlye="margin-left: 1em;">
                <input type="radio" id="row-flex-direction" name="flex-direction" @onclick='() => updateStyling("flex-direction", "row")'>
                <label for="row-flex-direction">row</label>
            </div>
            <div stlye="margin-left: 1em;">
                <input type="radio" id="row-reverse-flex-direction" name="flex-direction" @onclick='() => updateStyling("flex-direction", "row-reverse")'>
                <label for="row-reverse-flex-direction">row-reverse</label>
            </div>
            <div stlye="margin-left: 1em;">
                <input type="radio" id="column-flex-direction" name="flex-direction" @onclick='() => updateStyling("flex-direction", "column")'>
                <label for="column-flex-direction">column</label>
            </div>
            <div stlye="margin-left: 1em;">
                <input type="radio" id="column-reverse-flex-direction" name="flex-direction" @onclick='() => updateStyling("flex-direction", "column-reverse")'>
                <label for="column-reverse-flex-direction">column-reverse</label>
            </div>
        </div>
        <h5>flex-wrap</h5>
        <div style="display: flex; flex-wrap: wrap;">
            <div stlye="margin-left: 1em;">
                <input type="radio" id="nowrap-flex-wrap" name="flex-wrap" @onclick='() => updateStyling("flex-wrap", "nowrap")'>
                <label for="nowrap-flex-wrap">nowrap</label>
            </div>
            <div stlye="margin-left: 1em;">
                <input type="radio" id="wrap-flex-wrap" name="flex-wrap" @onclick='() => updateStyling("flex-wrap", "wrap")'>
                <label for="wrap-flex-wrap">wrap</label>
            </div>
            <div stlye="margin-left: 1em;">
                <input type="radio" id="wrap-reverse-flex-wrap" name="flex-wrap" @onclick='() => updateStyling("flex-wrap", "wrap-reverse")'>
                <label for="wrap-reverse-flex-wrap">wrap-reverse</label>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Styling { get; set; }
    [Parameter]
    public EventCallback<string> StylingChanged { get; set; }

    //private Dictionary<string, List<string>> flexboxParent = new Dictionary<string, List<string>>
    //{
    //    { "flex-direction", new List<string> {"row", "row-reverse", "column", "column-reverse"} },
    //    { "flex-wrap", new List<string> { "nowrap", "wrap", "wrap-reverse"} },
    //    { "justify-content", new List<string> { "flex-start", "flex-end", "start", "end", "left", "right", "center", "space-between", "space-around", "space-evenly"} }
    //};

    private Task updateStyling(string input, string option)
    {
        bool addedStyle = false;
        string[] styles = Styling.Split(";");
        Styling = "";
        foreach (string style in styles)
        {
            if (style.Contains(input))
            {
                Styling += input + ":" + option + ";";
                addedStyle = true;
            }
            else
            {
                if (!style.Equals(""))
                {
                    Styling += style + ";";
                }
            }
        }
        if (addedStyle == false)
        {
            Styling += input + ":" + option + ";";
        }

        return StylingChanged.InvokeAsync(Styling);
    }
}
